* {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
}

.container-left {
    display: inline-block;
    width: 60%;
    padding-left: 136px;
    margin-top: 15%;
}

.container-right {
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
    position: absolute;
}

img {
    position: relative;
    top: 10%;
    right: 130px;
}

h1 {
    font-size: 60px;
    line-height: 80px;
    width: 368px;
    color: #5D5D7D;
}

p {
    font-size: 28px;
    line-height: 48px;
    opacity: 0.6;
    margin: 15px 0;
    width: 540px;
}

button {
    width: 269px;
    height: 62px;
    border-radius: 30px;
    border: none;
    font-size: 40px;
    background-color: rgb(155, 130, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.2;
}

a {
    font-size: 28px;
    line-height: 41px;
    color: #5D5D7D;
    margin-right: 48px;
    margin-left: 30px;
}

#work {
    color: #b5b5ce;
}

@media screen and (max-width: 900px) {
    .container-left {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .container-right {
        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 46px;
    }

    img {
        position: static;
        width: 90%;
    }

    header {
        display: none;
    }

    h1 {
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 50px 50px 0 50px;
        text-align: center;
    }

    p {
        margin: 15px 40px;
        width: auto;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
    }

    button {
        margin: 0 auto;
        display: block;
    }
}